@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "Lato";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__item-logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: #FF3F3A;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__item-logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.header__button {
  font-size: 20px;
  display: inline-block;
  line-height: 1.5;
  border: 2px solid #FF3F3A;
  color: #FF3F3A;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 40px;
  position: relative;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.header__button::before {
  content: "";
  height: 100%;
  width: 0%;
  background: #FF3F3A;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
.header__button:hover::before {
  width: 100%;
  left: 0;
}
.header__button:hover {
  color: #fff;
}
.header__link {
  font-size: 20px;
  display: inline-block;
  line-height: 1.5;
  font-weight: 700;
  border-radius: 5px;
  padding: 11px 41px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
.header__link:hover {
  color: #FF3F3A;
}
.header__link::after {
  content: "";
  height: 2px;
  width: 0%;
  background: #FF3F3A;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__link:hover::after {
  width: 100%;
}
.header__link::before {
  content: "";
  height: 2px;
  width: 0%;
  background: #FF3F3A;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__link:hover::before {
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.menu__link {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  font-size: 20px;
  letter-spacing: 1px;
}
.menu__link:hover {
  color: #FF3F3A;
}
.menu__link::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #FF3F3A;
  position: absolute;
  bottom: -4px;
  right: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.car__container {
  max-width: 1500px;
}

.car__container {
  height: 100vh;
}
.car__body {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 250px;
}
.car__top {
  position: absolute;
  z-index: 20;
  top: -52px;
  left: 92px;
}
.car__top-s {
  position: absolute;
  z-index: 21;
  top: -110px;
  left: 330px;
}
.car__top-t {
  position: absolute;
  z-index: 21;
  top: -108.5px;
  left: 525px;
}
.car__top-f {
  position: absolute;
  z-index: 21;
  top: -70px;
  left: 440px;
}
.car__main {
  position: absolute;
  z-index: 1;
}
.car__back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.car__front {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 2;
}
.car__air-intakes {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 50;
  -webkit-transform: rotateY(50deg);
          transform: rotateY(50deg);
}
.car__front-s {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
}
.car__front-t {
  position: absolute;
  top: 0;
  right: 188px;
  z-index: 4;
}
.car__window {
  position: absolute;
  top: -90px;
  left: 580px;
  z-index: 32;
}
.car__window-second {
  position: absolute;
  top: -85px;
  left: 390px;
  z-index: 32;
}
.car__headlight {
  position: absolute;
  top: 15px;
  right: 130px;
  z-index: 5;
}
.car__fuel-cap {
  position: absolute;
  top: -7px;
  left: 1040px;
  z-index: 50;
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}
.car__door {
  position: absolute;
  top: 0;
  left: 550px;
  z-index: 29;
}
.car__intakes-air {
  position: absolute;
  top: 50px;
  left: 430px;
  z-index: 50;
}
.car__rear-headlight {
  position: absolute;
  top: 50px;
  left: 12px;
  z-index: 50;
}
.main {
  border-radius: 400px;
  background: #c73a1f;
  width: 600px;
  height: 250px;
}
.main__substrate {
  background: #c73a1f;
  width: 900px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: -150px;
}

.top {
  border-radius: 527px 0px 0px 0px/200px 3px 0px 0px;
  background: #c73a1f;
  width: 400px;
  height: 100px;
  -webkit-transform: skewX(-60deg);
      -ms-transform: skewX(-60deg);
          transform: skewX(-60deg);
}

.top-s {
  border-radius: 300px 0px 0px 0px/100px 3px 0px 0px;
  background: #c73a1f;
  width: 300px;
  height: 70px;
  -webkit-transform: skewX(-47deg);
      -ms-transform: skewX(-47deg);
          transform: skewX(-47deg);
}

.top-t {
  border-radius: 169px 80px 77px 0px/150px 71px 53px 0px;
  background: #c73a1f;
  width: 400px;
  height: 150px;
  -webkit-transform: skewX(60deg);
      -ms-transform: skewX(60deg);
          transform: skewX(60deg);
}

.top-f {
  background: #c73a1f;
  width: 150px;
  height: 70px;
}

.back {
  border-radius: 170px 0px 1px 155px/68px 52px 2px 61px;
  background: #c73a1f;
  height: 250px;
  width: 600px;
}

.front {
  border-radius: 0% 100% 20% 80%/100% 77% 23% 0%;
  background: #c73a1f;
  height: 250px;
  width: 600px;
}

.air-intakes {
  width: 70px;
  height: 90px;
  background: #000;
  border-radius: 30px 36px 42px 65px/31px 32px 296px 51px;
}

.front-s {
  border-radius: 0% 100% 15% 85%/100% 21% 79% 0%;
  background: #c73a1f;
  height: 120px;
  width: 400px;
}

.front-t {
  border-radius: 0% 100% 0% 100%/100% 32% 68% 0%;
  background: #c73a1f;
  height: 100px;
  width: 400px;
}

.window {
  width: 310px;
}
.window__item {
  border-radius: 99px 211px 0px 0px/86px 179px 0px 0px;
  background: rgb(108, 149, 238);
  height: 80px;
  width: 150px;
  -webkit-transform: skewX(50deg);
      -ms-transform: skewX(50deg);
          transform: skewX(50deg);
  position: absolute;
  top: 0;
  right: 0;
}
.window__addition {
  border-radius: 39px 68px 82px 10px/39px 60px 37px 13px;
  height: 80px;
  width: 250px;
  background: rgb(108, 149, 238);
  -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
          transform: skewX(20deg);
  top: 0;
  left: 0;
}

.window-second {
  border-radius: 398px 2px 4px 400px/145px 3px 2px 150px;
  background: rgb(108, 149, 238);
  height: 75px;
  width: 170px;
  -webkit-transform: skewX(30deg);
      -ms-transform: skewX(30deg);
          transform: skewX(30deg);
}

.side-mirror {
  position: absolute;
  top: -47px;
  right: 580px;
  z-index: 50;
}
.side-mirror__main {
  border-radius: 114px 242px 365px 92px/150px 149px 38px 61px;
  background: #0a0a0a;
  width: 80px;
  height: 45px;
}
.side-mirror__stem {
  border-radius: 114px 150px 150px 102px/150px 200px 99px 90px;
  height: 45px;
  width: 40px;
  background: #0a0a0a;
  position: absolute;
  bottom: -25px;
  right: -5px;
}

.headlight {
  border-radius: 0% 100% 0% 100%/0% 100% 0% 100%;
  -webkit-box-shadow: -13px 15px 87px 13px rgb(87, 87, 87);
          box-shadow: -13px 15px 87px 13px rgb(87, 87, 87);
  width: 80px;
  height: 100px;
  background: #9a9b9d;
  -webkit-transform: skewX(30deg);
      -ms-transform: skewX(30deg);
          transform: skewX(30deg);
}

.front-wheel {
  background: rgb(255, 255, 255) url("../img/brakes.png") 45% 45%/175px 175px no-repeat;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: -70px;
  right: 200px;
  z-index: 10;
  border-radius: 250px 250px 0px 35px/199px 200px 0px 0px;
}
.front-wheel::before {
  content: "";
  background: rgba(255, 255, 255, 0) url("../img/wheel.png") 0 0/cover no-repeat;
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.fuel-cap {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  border-radius: 50%;
}

.door {
  border-radius: 44px 96px 0px 196px/101px 142px 0px 128px;
  width: 470px;
  height: 220px;
  border: 2px solid #000;
}
.door__handle1 {
  width: 70px;
  height: 20px;
  border: 2px solid #000;
  background: #c73a1f;
  border-radius: 50px 30px 80px 30px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 30;
}
.door__handle2 {
  width: 50px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 0px 30px 80px 30px;
  position: absolute;
  top: 57px;
  left: 55px;
  z-index: 29;
}

.intakes-air {
  width: 90px;
  height: 120px;
  background: #000;
  border-radius: 0px 43px 33px 102px/0px 39px 32px 145px;
  -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
          transform: skewX(20deg);
}

.spoiler {
  position: absolute;
  top: -70px;
  left: 20px;
  z-index: 50;
}
.spoiler__item1 {
  width: 80px;
  height: 100px;
  border: 15px solid #000;
  border-radius: 34px 70px 16px 22px/49px 135px 19px 19px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
}
.spoiler__item2 {
  width: 140px;
  height: 40px;
  background: #000;
  border-radius: 8px 107px 92px 95px/9px 75px 75px 75px;
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: 51;
  -webkit-transform: skewX(30deg) rotate(10deg);
      -ms-transform: skewX(30deg) rotate(10deg);
          transform: skewX(30deg) rotate(10deg);
}

.back-wheel {
  background: #fff url("../img/brakes.png") 45% 45%/175px 175px no-repeat;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: -70px;
  left: 200px;
  z-index: 10;
  border-radius: 250px 250px 0px 35px/199px 200px 0px 0px;
}
.back-wheel::before {
  content: "";
  background: rgba(255, 255, 255, 0) url("../img/wheel.png") 0 0/cover no-repeat;
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.rear-headlight {
  width: 130px;
  height: 40px;
  background: #7b1b22;
  border-radius: 100% 0% 96% 4%/0% 44% 56% 100%;
  -webkit-transform: skewX(-40deg);
      -ms-transform: skewX(-40deg);
          transform: skewX(-40deg);
}
.rear-headlight__light {
  width: 130px;
  height: 10px;
  border-radius: 3px;
  background: rgb(243, 137, 137);
  -webkit-box-shadow: 0px 0px 19px 5px rgb(238, 36, 77);
          box-shadow: 0px 0px 19px 5px rgb(238, 36, 77);
}

.turn-signals {
  position: absolute;
  top: 170px;
  left: 0;
  z-index: 70;
}
.turn-signals__item1 {
  width: 40px;
  height: 20px;
  background: rgb(83, 83, 83);
  border-radius: 10px 20px 20px 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
}
.turn-signals__item2 {
  width: 70px;
  height: 20px;
  background: rgb(63, 14, 14);
  border-radius: 10px 20px 20px 10px;
  position: absolute;
  top: 0;
  right: -115px;
  z-index: 71;
}

.page {
  margin-top: 100px;
}
.page__card {
  margin: 120px 0;
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -30px;
}
.card__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 30px;
}
.item {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  height: 600px;
}
.item:hover .item__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.item:hover .item__back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.item__front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item__front img {
  border-radius: 10px;
  max-width: 100%;
  height: 100%;
}
.item__back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  border-radius: 10px;
  padding: 20px;
  background: #d4d0cb;
  color: #35353e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item__image-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 354px;
          flex: 0 1 354px;
  margin-bottom: 20px;
  overflow: hidden;
}
.item__image-title:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.item__image-title img {
  border-radius: 10px;
  max-width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item__info > *:not(:last-child) {
  margin-bottom: 20px;
}
.item__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 10px;
}
.item__heading:first-child {
  margin-bottom: 20px;
}
.item__title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.item__parameter {
  font-weight: 700;
  font-size: 18px;
}
.item__links-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.item__link-back {
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}
.item__link-back::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #35353e;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item__link-back:hover::before {
  width: 100%;
}

.page__blocks {
  margin: 120px 0;
}

.blocks__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.block {
  width: 420px;
  height: 420px;
  border: 3px solid #08ad9d;
  border-radius: 10px;
  padding: 70px;
}
.block__transform {
  width: 100%;
  height: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}
.block__transform::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #6f3c68;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__transform--translate:hover::before {
  -webkit-transform: translate(40px, 40px);
      -ms-transform: translate(40px, 40px);
          transform: translate(40px, 40px);
}
.block__transform--translate::before {
  content: "translate";
}
.block__transform--scale:hover::before {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.block__transform--scale::before {
  content: "scale";
}
.block__transform--rotate {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.block__transform--rotate:hover::before {
  -webkit-transform: rotate(3600deg);
      -ms-transform: rotate(3600deg);
          transform: rotate(3600deg);
}
.block__transform--rotate::before {
  content: "rotate";
}
.block__transform--skew:hover::before {
  -webkit-transform: skew(30deg, 20deg);
      -ms-transform: skew(30deg, 20deg);
          transform: skew(30deg, 20deg);
}
.block__transform--skew::before {
  content: "skew";
}
.block__transform--perspective {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.block__transform--perspective:hover::before {
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}
.block__transform--perspective::before {
  content: "perspective";
}
.block__transform--origin:hover::before {
  -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
          transform: rotate(70deg);
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.block__transform--origin::before {
  content: "origin";
}
.block__transform--rotate3D {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.block__transform--rotate3D:hover::before {
  -webkit-transform: rotate3d(0, 1, 0, -120deg);
          transform: rotate3d(0, 1, 0, -120deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.block__transform--rotate3D::before {
  content: "rotate3D";
}