.footer {
	background-color: #292C32;
    padding: 25px 0;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		color: #fff;
		& span {
			font-weight: 700;
			color: #FF8A63;
		}
	}

	&__logo {
	}
}