@use "sass:math";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

// Подключить если есть локальные файлы шрифтов
@import "fonts";
// Подключить если есть файл иконочного шрифта
@import "icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Lato";
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #424551; // Цвет шрифта по умолчанию
$darkBlue: #1e212c;
$lightGrey: #787a80;
$red: #ff3f3a;

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
}

[class*="__container"] {
	max-width: 1260px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
// ============================================================================================================================================================================================================================================================================================================================================================================================\
.page {
	&__main {
		padding: 200px 0 80px 0;
		margin-bottom: 180px;
	}
}
.main-page {
	background: linear-gradient(
		55.95deg,
		rgba(255, 64, 58, 0.2) 0%,
		rgba(247, 94, 5, 0.2) 100%
	);
	position: relative;
	&__container {
		position: relative;
		z-index: 50;
	}

	&__body {
		margin-bottom: 189px;
	}

	&__row {
		display: flex;
		align-items: center;
	}

	&__info {
		flex: 0 1 50%;
		padding-right: 40px;
	}

	&__play-btn {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		font-weight: 700;
		line-height: 1.5;
		color: $darkBlue;
		display: inline-flex;
		align-items: center;
		gap: 16px;
		position: relative;
		z-index: 2;
		&:hover::after {
			animation-play-state: paused;
		}
		&::before {
			content: "";
			flex: 0 0 52px;
			width: 52px;
			height: 52px;
			background: $red url("../img/main/play-btn.svg") center no-repeat;
			border-radius: 50%;
			position: relative;
			z-index: 2;
		}
		&::after {
			content: "";
			width: 52px;
			height: 52px;
			background: $red;
			border-radius: 50%;
			opacity: 0.12;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transform: scale(1);
			animation: pulse 1.5s infinite linear;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 64px;
		line-height: 1.3;
		letter-spacing: 1px;
		color: $darkBlue;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 24px;
		row-gap: 10px;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__button {
		max-width: 220px;
	}

	&__image {
		flex: 0 1 50%;
		transform: translate(47px, 0);
		img {
			max-width: 100%;
		}
	}

	&__advantages {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}

	&__value-advantages {
		display: flex;
		align-items: center;
		gap: 12px;
		line-height: 1.6;
		color: $darkBlue;
		position: relative;
		span {
			font-weight: 900;
			font-size: 46px;
			line-height: 1.3;
		}
	}

	&__dot-advantages {
		width: 8px;
		height: 8px;
		background-color: $red;
		border-radius: 50%;
	}

	&__decor {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__item-decor {
		position: absolute;
	}

	&__item-decor--1 {
		background: url("../img/main/decor/01.svg") 0 0 no-repeat;
		width: 96px;
		height: 96px;
		top: 12%;
		left: 4%;
	}

	&__item-decor--2 {
		background: url("../img/main/decor/01.svg") 0 0 no-repeat;
		width: 96px;
		height: 96px;
		top: -2%;
		right: 5%;
		transform: rotate(135deg);
	}

	&__item-decor--3 {
		background: url("../img/main/decor/02.svg") 0 0 no-repeat;
		width: 88px;
		height: 47px;
		top: 45%;
		left: 40.7%;
	}

	&__item-decor--4 {
		background: url("../img/main/decor/03.svg") 0 0 no-repeat;
		width: 61px;
		height: 61px;
		bottom: 24%;
		left: 38%;
	}

	&__item-decor--5 {
		background: url("../img/main/decor/05.svg") 0 0 no-repeat;
		width: 284px;
		height: 284px;
		bottom: -9%;
		left: -5.8%;
	}

	&__item-decor--6 {
		background: url("../img/main/decor/04.svg") 0 0 no-repeat;
		width: 187px;
		height: 137px;
		bottom: 15%;
		right: -1.5%;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.3;
	}
	100% {
		transform: scale(1.7);
		opacity: 0;
	}
}

//===========================================================================================
.page {
	&__about {
		margin-bottom: 180px;
	}
}
.about {
	position: relative;
	&__container {
		display: flex;
		align-items: center;
		gap: 135px;
		position: relative;
		z-index: 50;
	}

	&__image {
		flex: 0 0 705px;
		img {
			max-width: 100%;
		}
	}

	&__info {
		flex: 1 1 auto;
	}

	&__heading {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__pretitle {
	}

	&__title {
	}

	&__list {
		&:not(:last-child) {
			margin-bottom: 48px;
		}
		& > *:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__item-list {
		padding-left: 32px;
		line-height: math.div(26, 16);
		position: relative;
		min-height: 26px;
		&::before {
			content: "";
			width: 16px;
			height: 16px;
			background: url("../img/about/chek.svg") 0 0 no-repeat;
			position: absolute;
			top: 5px;
			left: 0;
		}
	}

	&__button {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__button--small {
		padding: 7px 24px;
	}

	&__decor {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__item-decor {
		position: absolute;
	}

	&__item-decor--01 {
		background: url("../img/about/decor/01.svg") 0 0 no-repeat;
		width: 220px;
		height: 200px;
		top: 10.7%;
		left: -5.7%;
	}

	&__item-decor--02 {
		background: url("../img/about/decor/02.svg") 0 0 no-repeat;
		width: 287px;
		height: 287px;
		bottom: 2.8%;
		right: -8.6%;
	}
}
//========================================================================
.page {
	&__courses {
		margin-bottom: 180px;
	}
}
.courses {
	&__container {
	}

	&__label {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		column-gap: 40px;
		row-gap: 10px;
		flex-wrap: wrap;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__heading {
	}

	&__pretitle {
	}

	&__title {
	}

	&__button {
		max-width: 250px;
	}

	&__body {
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0 -15px;
	}

	&__column {
		padding: 0 15px;
		flex: 0 1 50%;
	}

	&__card {
	}
}
.card-courses {
	overflow: hidden;
	border: 1px solid #e5e8ed;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
		0px 30px 24px -10px rgba(154, 156, 165, 0.05),
		0px 12px 10px -6px rgba(154, 156, 165, 0.04),
		0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
	transition: all 0.3s ease 0s;
	&:hover {
		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
			0px 30px 24px -10px rgba(154, 156, 165, 0.1),
			0px 12px 10px -6px rgba(154, 156, 165, 0.08),
			0px 4px 4px -4px rgba(30, 33, 44, 0.05);
	}
	&__row {
		display: flex;
	}

	&__image {
		flex: 0 0 214px;
		position: relative;
		&:hover > div {
			height: 60%;
		}
		img {
			max-width: 100%;
		}
	}

	&__social-image {
	}

	&__info {
		flex: 1 1 auto;
		padding: 32px;
		& > *:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__profession {
		display: inline-block;
		font-size: 14px;
		line-height: math.div(21, 14);
		color: #fff;
		border: 1px solid transparent;
		padding: 0 7px;
		border-radius: 4px;
		transition: all 0.3s ease 0s;
		&:hover {
			background: transparent;
		}
	}

	&__profession--marketing {
		background: #03cea4;
		&:hover {
			border: 1px solid #03cea4;
			color: #03cea4;
		}
	}
	&__profession--management {
		background: #5a87fc;
		&:hover {
			border: 1px solid #5a87fc;
			color: #5a87fc;
		}
	}
	&__profession--hr {
		background: #f89828;
		&:hover {
			border: 1px solid #f89828;
			color: #f89828;
		}
	}
	&__profession--design {
		background: #f52f6e;
		&:hover {
			border: 1px solid #f52f6e;
			color: #f52f6e;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5;
		color: $darkBlue;
	}

	&__price {
		display: flex;
		align-items: center;
		gap: 16px;
		font-size: 18px;
		line-height: 1.5;
	}

	&__value {
		font-weight: 700;
		color: $red;
		position: relative;
		&:not(:last-child) {
			&::before {
				content: "";
				width: 1px;
				height: 16px;
				background-color: $lightGrey;
				position: absolute;
				top: 6px;
				left: calc(100% + 8px);
			}
		}
	}

	&__teacher {
		color: $lightGrey;
	}
}
.image-social {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	display: flex;
	column-gap: 25px;
	row-gap: 5px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	transition: all 0.5s ease 0s;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		filter: blur(5px);
	}
	&__link {
		position: relative;
		z-index: 10;
		transition: all 0.3s ease 0s;
		will-change: transform;
		&:hover {
			transform: scale(1.2);
		}
		i {
			color: #fff;
			font-size: 30px;
		}
	}

	&__link--facebook {
	}
	&__link--insta {
	}
	&__link--twitter {
	}
}

//===================================================================
.page {
	&__benefits {
		margin-bottom: 120px;
	}
}
.benefits {
	&__container {
		& > *:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__heading {
		text-align: center;
	}

	&__pretitle {
	}

	&__title {
	}

	&__tabs {
	}

	&__body {
		display: flex;
		align-items: center;
		gap: 135px;
	}

	&__info {
		flex: 1 1 auto;
		& > *:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__title-info {
		font-weight: 900;
		font-size: 32px;
		line-height: 1.3;
		color: $darkBlue;
	}

	&__description-info {
		line-height: 1.6;
	}

	&__image {
		flex: 0 0 600px;
		img {
			max-width: 100%;
		}
	}
}

.tabs {
	&__row {
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
	}

	&__button {
		flex: 0 1 25%;
		font-weight: 700;
		line-height: math.div(26, 16);
		color: $lightGrey;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		outline: none;
		border: 2px solid transparent;
		padding: 10px 0;
		transition: all 0.3s ease 0s;
		border-radius: 4px;
		&:hover {
			color: $darkBlue;
		}
		&:focus {
			border: 2px solid #ff3f3a;
			color: #ff3f3a;
		}
	}
	&__button--active {
		border: 2px solid #ff3f3a;
		color: #ff3f3a;
	}
}
//============================================================================
.page {
	&__events {
		padding: 80px 0;
		margin-bottom: 120px;
		overflow: hidden;
	}
}
.events {
	background: linear-gradient(
		55.95deg,
		rgba(255, 64, 58, 0.2) 0%,
		rgba(247, 94, 5, 0.2) 100%
	);
	position: relative;
	&::before {
		content: "";
		width: 159px;
		height: 116px;
		background: url("../img/events/decor/01.svg") 0 0 no-repeat;
		position: absolute;
		bottom: 7px;
		left: 10px;
		transform: rotate(90deg);
	}
	&::after {
		content: "";
		width: 284px;
		height: 284px;
		background: url("../img/events/decor/02.svg") 0 0 no-repeat;
		position: absolute;
		top: -15%;
		right: -3%;
	}
	&__container {
		& > *:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__heading {
		text-align: center;
	}

	&__pretitle {
	}

	&__title {
	}

	&__body {
	}

	&__row {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}

	&__list-event {
	}

	&__view-all {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}

	&__txt {
		font-weight: 700;
		font-size: 28px;
		line-height: 1.5;
		color: $darkBlue;
	}

	&__button {
	}
}

.event-list {
	background: #ffffff;
	border-radius: 4px;
	transition: all 0.3s ease 0s;
	padding: 32px 40px;
	&:hover {
		box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
			0px 30px 24px -10px rgba(255, 63, 58, 0.1),
			0px 12px 10px -6px rgba(255, 63, 58, 0.08),
			0px 4px 4px -4px rgba(30, 33, 44, 0.05);
		position: relative;
		z-index: 1;
	}
	&__row {
		display: flex;
		gap: 40px;
	}
	&__date {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__number-date {
		font-weight: 900;
		font-size: 48px;
		line-height: 1.3;
		color: $red;
		letter-spacing: 1px;
	}

	&__value {
	}

	&__mounth-value {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5;
		color: $darkBlue;
	}

	&__time-value {
		line-height: math.div(26, 16);
		color: $lightGrey;
	}

	&__info {
		flex: 1 1 auto;
	}

	&__title-info {
		font-weight: 700;
		font-size: 20px;
		color: $darkBlue;
		line-height: 1.5;
	}

	&__description-info {
		line-height: math.div(26, 16);
		color: $lightGrey;
	}

	&__button {
		align-self: flex-start;
	}
	&__button--small {
		padding: 7px 25px;
	}
}
//===============================================================================
.page {
	&__certificate {
	}
}
.certificate {
	&__container {
		display: flex;
		gap: 128px;
	}

	&__info {
		flex: 1 1 auto;
	}

	&__heading {
		&:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	&__pretitle {
	}

	&__title {
	}

	&__description {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
		line-height: math.div(26, 16);
	}

	&__partners {
		display: flex;
		column-gap: 40px;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 10px;
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__logo-partners {
		flex: 0 0 105px;
		img {
			max-width: 100%;
		}
	}

	&__image {
		flex: 0 0 705px;
		border: 1px solid #e5e8ed;
		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
			0px 30px 24px -10px rgba(154, 156, 165, 0.1),
			0px 12px 10px -6px rgba(154, 156, 165, 0.08),
			0px 4px 4px -4px rgba(30, 33, 44, 0.05);
		border-radius: 4px;
		margin-bottom: -46px;
		img {
			max-width: 100%;
		}
	}
}
//====================================================================================

.page {
	&__blog {
		padding: 166px 0 180px 0;
	}
}
.blog {
	background: #f4f5f7;
	&__container {
		& > *:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__label {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		column-gap: 40px;
		row-gap: 10px;
		flex-wrap: wrap;
	}

	&__heading {
	}

	&__pretitle {
	}

	&__title {
	}

	&__button {
	}

	&__body {
	}

	&__row {
		display: flex;
		margin: 0 -15px;
		flex-wrap: wrap;
		row-gap: 15px;
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0 15px;
	}

	&__card {
	}
}
.card-blog {
	& > *:not(:last-child) {
		margin-bottom: 16px;
	}
	&__image {
		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 4px;
		&:hover img {
			transform: scale(1.1);
		}
		img {
			max-width: 100%;
			transition: all 0.3s ease 0s;
		}
	}

	&__category {
		background: #ffffff;
		border-radius: 4px;
		padding: 1px 8px 1px 28px;
		line-height: 1.5;
		font-size: 14px;
		position: absolute;
		top: 12px;
		left: 12px;
		min-height: 23px;
	}

	&__category--podcast {
		&::before {
			content: "";
			width: 12px;
			height: 16px;
			background: url("../img/blog/icons/micro.svg") 0 0 no-repeat;
			position: absolute;
			top: 2px;
			left: 10px;
		}
	}
	&__category--video {
		&::before {
			content: "";
			width: 15px;
			height: 15px;
			background: url("../img/blog/icons/play-btn.svg") 0 0 no-repeat;
			position: absolute;
			top: 4px;
			left: 8px;
		}
	}
	&__category--article {
		&::before {
			content: "";
			width: 12px;
			height: 15px;
			background: url("../img/blog/icons/files.svg") 0 0 no-repeat;
			position: absolute;
			top: 4px;
			left: 8px;
		}
	}

	&__info {
		& > *:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__tools {
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5;
		color: $darkBlue;
	}

	&__description {
		line-height: math.div(26, 16);
	}

	&__link {
		font-weight: 700;
		line-height: 1.6;
		display: inline-flex;
		align-items: center;
		gap: 8px;
		color: $darkBlue;
		transition: all 0.3s ease 0s;
		&:hover{
			color: $red;
		}
		&:hover i{
			animation: arrow 0.3s 1 linear;
		}
		i {
			color: $red;
		}
	}
}
.tools-blog {
	display: flex;
	align-items: center;
	column-gap: 24px;
	row-gap: 5px;
	flex-wrap: wrap;
	font-size: 14px;
	line-height: math.div(21, 14);
	color: $lightGrey;
	& > *:not(:last-child) {
		position: relative;
		&::before {
			content: "";
			width: 1px;
			height: 12px;
			background-color: $lightGrey;
			position: absolute;
			top: 5px;
			left: calc(100% + 12px);
		}
	}
	&__direction {
		font-weight: 700;
	}

	&__date {
		display: flex;
		align-items: center;
		gap: 9px;
	}

	&__duration {
		display: flex;
		align-items: center;
		gap: 9px;
	}
}

@keyframes arrow {
	0% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(10px, 0);
	}

	100% {
		transform: translate(0, 0);
	}
}
//=============================================================
.page {

	&__subscribe {
		padding: 120px 0 180px 0;
	}
}
.subscribe {
	background: linear-gradient(
		55.95deg,
		rgba(255, 64, 58, 0.2) 0%,
		rgba(247, 94, 5, 0.2) 100%
	);
	position: relative;
	&::before{
		content:'';
		width: 354px;
		height: 246px;
		background: url('../img/subscribe-decor.svg') 0 0 no-repeat;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&::after{
		content:'';
		width: 354px;
		height: 246px;
		background: url('../img/subscribe-decor.svg') 0 0 no-repeat;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	&__container {
		&>*:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	&__heading {
		text-align: center;
		max-width: 680px;
		margin: 0 auto;
	}

	&__pretitle {
	}

	&__title {
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__form {
		display: flex;
		align-items: center;
		gap: 24px;
		flex: 0 0 600px;
	}

	&__input {
		flex: 1 1 auto;
		position: relative;
		height: 52px;
		input {
			width: 100%;
			height: 100%;
			outline: none;
			padding: 13px 16px;
			line-height: math.div(26, 16);
			color: $lightGrey;
		}
	}

	&__arrow-input {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		padding: 21.5px;
		i {
			font-size: 9px;
		}
	}

	&__button {
		max-width: 200px;
	}
}
//============================================================