@use "sass:math";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

// Подключить если есть локальные файлы шрифтов
// @import "fonts";
// Подключить если есть файл иконочного шрифта
// @import "icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Lato";
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #424551; // Цвет шрифта по умолчанию
$darkBlue: #1e212c;
$lightGrey: #787a80;
$red: #ff3f3a;

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	background-color: #353535;
}


[class*="__container"] {
	max-width: 800px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}


// Подключение стилей общих элементов проекта
// @import "common";

// Подключение стилей отдельных блоков
// @import "header";
// @import "footer";

// Подключение стилей отдельных страниц
// ============================================================================================================================================================================================================================================================================================================================================================================================\
.page {
	font-family: Arial, Helvetica, sans-serif;
	& > *:not(:last-child) {
		margin-bottom: 60px;
	}
	& > * {
		h2 { 
			font-size: 40px;
			text-transform: uppercase;
			line-height: 1.5;
			text-align: center;
			font-weight: 700;
			color: #fff;
		}
	}
	&__first-lesson {
		& > *:not(:last-child) {
			margin-bottom: 40px;
		}
		.item {
			background-color: #77608d;
		}
	}
	&__second-lesson {
		& > *:not(:last-child) {
			margin-bottom: 40px;
		}
		.item {
			background-color: rgb(151, 115, 39);
		}
	}
	&__third-lesson {
		& > *:not(:last-child) {
			margin-bottom: 40px;
		}
		.item {
			background-color: rgb(68, 151, 219);
		}
	}
	// &__fifth-lesson {
	// 	& > *:not(:last-child) {
	// 		margin-bottom: 40px;
	// 	}
	// 	.item {
	// 		background-color: rgb(165, 74, 226);
	// 	}
	// }
}
.first {
	&__container {
	}

	&__item {
	}
}
.item {
	border-radius: 10px;
	padding: 20px;
	color: #fff;
	&__image {
		width: 100%;
		height: 200px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__info {
		&>*:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 1.5;
	}

	&__text {
		line-height: 1.3;
		font-size: 18px;
		span {
			font-size: 20px;
			font-weight: 700;
			margin-right: 10px;
		}
	}
	&__false {
		color: red;
	}
	&__true {
		color: rgb(61, 180, 61);
	}
}