@use "sass:math";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

// Подключить если есть локальные файлы шрифтов
// @import "fonts";
// Подключить если есть файл иконочного шрифта
// @import "icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Lato";
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #424551; // Цвет шрифта по умолчанию

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
}

[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 15px;
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
//@import "home";

// ============================================================================================================================================================================================================================================================================================================================================================================================\
.main {

	&__first-screen {
		min-height: 100vh;
		background:  url('../img/content-image.jpg') top right no-repeat ,
		 url('../img/content-image.jpg') 60% 20% no-repeat ,
		 url('../img/content-image.jpg') 250px 600px no-repeat , 
		 linear-gradient(90deg, rgba(17,0,36,1) 0%, rgba(198,79,241,1) 27%, rgba(255,0,211,1) 53%, rgba(125,46,252,1) 95%);;
	}

	&__paralax {
		min-height: 100vh;
		background: url('../img/paralax-img.jpg') 50% / cover no-repeat fixed;
	}

	&__second-screen {
		background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(140,253,45,1) 100%);;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 50px 0;
	}

	&__secon-screen--body {
		width: 1500px;
		height: 1500px;
		background: url('../img/patern.jpg') 0 0 repeat;
	}
}