@use "sass:math";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

// Подключить если есть локальные файлы шрифтов
@import "fonts";
// Подключить если есть файл иконочного шрифта
@import "icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Lato";
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #424551; // Цвет шрифта по умолчанию

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {

}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 15px;
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
//@import "home";

// ============================================================================================================================================================================================================================================================================================================================================================================================\

.homework-link {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 64px;
	height: 64px;
	background: #ff3f3a;
	border-radius: 50%;
	color: #fff;
	font-weight: 700;
	transition: all 0.3s ease 0s;
	&:hover{
		transform: scale(1.2);
	}
}
// ==================================================================================================================
.page {
	&__first-screen {
		padding: 192px 0 120px 0;
		margin-bottom: 120px;
	}
}
.first-screen {
	background: linear-gradient(
		55.95deg,
		rgba(255, 63, 58, 0.2) 0%,
		rgba(247, 94, 5, 0.2) 100%
	);
	overflow: hidden;
	position: relative;
	&__decor {
	}

	&__decor--circles {
		&::before {
			content: "";
			position: absolute;
			background: url("../img/icons/circles.svg") 0 0 no-repeat;
			display: block;
			width: 284px;
			height: 284px;
			top: 330px;
			left: 0;
			z-index: 2;
			opacity: 0.2;
		}
	}

	&__decor--arrows {
		&::before {
			content: "";
			position: absolute;
			display: block;
			right: 267px;
			top: 410px;
			z-index: 2;
			background: url("../img/icons/arrows.svg") 0 0 no-repeat;
			width: 110px;
			height: 110px;
		}
	}

	&__decor--shapes {
		&::before {
			content: "";
			position: absolute;
			display: block;
			left: 172px;
			top: 128px;
			z-index: 2;
			background: url("../img/icons/shapes.svg") 0 0 no-repeat;
			width: 88px;
			height: 47px;
		}
	}

	&__decor--dots {
		&::before {
			content: "";
			position: absolute;
			display: block;
			right: -30px;
			top: 123px;
			z-index: 2;
			background: url("../img/icons/dots.svg") 0 0 no-repeat;
			width: 187px;
			height: 137px;
		}
	}
	&__container {
		& > *:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__pretitle {
		text-align: center;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #ff3f3a;
		line-height: math.div(24, 16);
	}

	&__title {
		text-align: center;
		max-width: 1020px;
		margin: 0 auto;
	}
}
//=====================================================================================================================
.page {
	&__course {
		margin-bottom: 114px;
	}
}
.course {
	&__container {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		& > *:not(:last-child) {
			margin-bottom: 48px;
		}
	}

	&__about {
		max-width: 600px;
		& > *:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__about-title {
	}

	&__about-text {
		line-height: math.div(26, 16);
	}

	&__learn {
		& > *:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__learn-title {
		font-weight: 700;
		font-size: 28px;
		color: #1e212c;
		line-height: math.div(42, 28);
	}

	&__learn-list {
	}

	&__learn-item {
		line-height: math.div(26, 16);
		padding: 0 0 0 32px;
		min-height: 26px;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		&::before {
			content: "";
			background: url("../img/icons/check.svg") 0 0 no-repeat;
			display: block;
			width: 16px;
			height: 16px;
			position: absolute;
			top: 5px;
			left: 0;
		}
	}

	&__card {
		background: #ffffff;
		border: 1px solid #e5e8ed;
		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
			0px 30px 24px -10px rgba(154, 156, 165, 0.05),
			0px 12px 10px -6px rgba(154, 156, 165, 0.04),
			0px 4px 4px -4px rgba(30, 33, 44, 0.03);
		border-radius: 4px;
		padding: 40px 32px;
	}

	&__card-body {
		max-width: 431px;
		&>*:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__card-dates {
		&:last-child{
			margin-top: 40px;
		}
	}

	&__card-pretitle {
		font-weight: 700;
		font-size: 14px;
		line-height: math.div(21, 14);
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #1e212c;
		margin-bottom: 4px;
	}

	&__card-redtxt {
		font-weight: 700;
		font-size: 24px;
		line-height: math.div(31, 24);
		color: #ff3f3a;
		margin-bottom: 8px;
	}

	&__card-text {
		line-height: math.div(26, 16);
		color: #787A80;
	}

	&__card-duration {
		&:last-child{
			margin-top: 40px;
		}
	}

	&__card-price {
		&:last-child{
			margin-top: 40px;
		}
	}

	&__card-btn {
		display: block;
		font-weight: 700;
		font-size: 14px;
		padding: 13px 164.5px;
		&:last-child{
			margin-top: 40px;
		}
	}
}
//=======================================================================================================================
.page {

	&__curator {
		padding-top: 66px;
		padding-bottom: 90px;
		position: relative;
		&::before{
			content:'';
			background: url('../img/icons/circles-yellow.svg') 0 0 no-repeat;
			position: absolute;
			top: 0;
			left: 202px;
			display: block;
			width: 242px;
			height: 242px;
			opacity: 0.12;
		}
	}
}
.curator {
	&__container {
	}

	&__row {
		display: flex;
		gap: 135px;
	}

	&__img {
		flex: 0 0 495px;
		& img {
			width: 100%;
		}
	}

	&__info {
		flex: 1 1 auto;
		&>*:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__heading {
		&>*:not(:last-child) {
			margin-bottom: 8px;
		}
		&:last-child{
			margin-top: 40px;
		}
	}

	&__pretitle {
		font-weight: 700;
		line-height: math.div(24, 16);
		color: #1e212c;
		letter-spacing: 1px;
		text-transform: uppercase;
		&:last-child{
			margin-top: 16px;
		}
	}	

	&__title {
		&:last-child{
			margin-top: 16px;
		}
	}

	&__position {
		font-size: 20px;
		line-height: math.div(30, 20);
		color: #787A80;
		&:last-child{
			margin-top: 16px;
		}
	}

	&__stats {
		&:last-child{
			margin-top: 40px;
		}
	}

	&__stats-list {
	}

	&__stats-item {
		font-weight: 700;
		line-height: math.div(26, 16);
		padding: 0 0 0 24px;
		min-height: 26px;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__stats-item--rate {
		position: relative;
		&::before{
			content:'';
			background: url('../img/icons/star.svg') 0 0 no-repeat;
			display: block;
			width: 16px;
			height: 16px;
			top: 5px;
			left: 0;
			position: absolute;
		}
	}

	&__stats-item--courses {
		position: relative;
		&::before{
			content:'';
			background: url('../img/icons/play-btn.svg') 0 0 no-repeat;
			display: block;
			width: 16px;
			height: 16px;
			top: 5px;
			left: 0;
			position: absolute;
		}
	}

	&__stats-item--students {
		position: relative;
		&::before{
			content:'';
			background: url('../img/icons/user.svg') 0 0 no-repeat;
			display: block;
			width: 16px;
			height: 16px;
			top: 5px;
			left: 0;
			position: absolute;
		}
	}

	&__text {
		line-height: math.div(26, 16);
		&:last-child{
			margin-top: 40px;
		}
	}

	&__icons {
		&:last-child{
			margin-top: 40px;
		}
		display: flex;
		column-gap: 24px;
	}

	&__link {
		transition: all 0.3s ease 0s;
		&:hover{
			color: #ff3f3a;
		}
		& i {
			font-size: 22px;
		}
	}
}

//==================================================================================================================
.page {
	margin-top: 120px;
	&__hover {
		margin-bottom: 200px;
	}
}
.hover {

	&__container {
	}

	&__item {
	}

	&__title {
		color: #ff3f3a;
		font-size: 46px;
		line-height: math.div(60, 46);
		text-align: center;
		font-weight: 900;
		letter-spacing: 2px;
		margin-bottom: 50px;
	}

	&__links {
		display: flex;
		justify-content: space-around;
		&>*{
			font-size: 20px;
			font-weight: 700;
		}
	}

	&__link01 {
		transition: all 0.3s ease 0s;
		&:hover{
			color: #1e212c;
			text-shadow: 0 0 3px #424551;

		}
		&:active{
			color: #ff3f3a;
			text-transform: uppercase;
		}
	}

	&__link02 {
		padding: 15px;
		transition: all 0.3s ease 0s;
		&:hover{
			color: #ff3f3a;
			transform: rotate(360deg);
			outline: 2px solid #1e212c;
		}
	}
}
//=========================================================
.page {

	&__visited {
		margin-bottom: 200px;
	}
}
.visited {

	&__container {
	}

	&__title {
		color: #ff3f3a;
		font-size: 46px;
		line-height: math.div(60, 46);
		text-align: center;
		font-weight: 900;
		letter-spacing: 2px;
		margin-bottom: 50px;
	}

	&__links {
		display: flex;
		justify-content: space-around;
		&>*{
			font-size: 30px;
			font-weight: 700;
		}
	}

	&__link {
		padding: 5px;
		&:visited {
			color: rgb(176, 116, 255);
		}
		&:focus {
			text-decoration: underline;
			text-transform: uppercase;
			color: #ff3f3a;
		}
	}
}
//=============================================================
.page {

	&__nth-child {
		margin-bottom: 200px;
	}
}
.nth-child {

	&__container {
	}

	&__title {
		color: #ff3f3a;
		font-size: 46px;
		line-height: math.div(60, 46);
		text-align: center;
		font-weight: 900;
		letter-spacing: 2px;
		margin-bottom: 50px;
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 150px);
		gap: 15px;
	}

	&__item {
		color: #fff;
		font-size: 30px;
		line-height: math.div(45, 30);
		padding: 20px;
		text-align: center;
		border-radius: 5px;
		&:nth-child(odd) {
			background-color: #77608d;
		}
		&:nth-child(even) {
			background-color: #7A956B;
		}
		&:nth-child(6) {
			background-color: #794f45;
			font-size: 45px;
			border: 5px solid #ff3f3a;
			border-radius: 20px;
		}
		&:first-child{
			color:#ff3f3a;
			text-transform: uppercase;
		}
		&:last-child{
			color: #1e212c;
			font-weight: 900;
			text-decoration: underline;
		}
	}
}
//=======================================
.page {

	&__type {
		margin-bottom: 100px;
	}
}
.type {

	&__container {
	}

	&__title {
		color: #ff3f3a;
		font-size: 46px;
		line-height: math.div(60, 46);
		text-align: center;
		font-weight: 900;
		letter-spacing: 2px;
		margin-bottom: 50px;
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 150px);
		gap: 15px;
		div:first-of-type {
			background-color: #77608d;
			text-decoration: underline;
			font-weight: 900;
			position: relative;
			&::before{
				content:'div:first-of-type';
				position: absolute;
				bottom: 0;
				left: 0;
				color: rgb(42, 138, 42);
			}
		}
		p:first-of-type {
			background-color: #7A956B;
			color: #ff3f3a;
			letter-spacing: 2px;
			text-transform: uppercase;
			position: relative;
			&::before{
				content:'p:first-of-type';
				position: absolute;
				bottom: 0;
				left: 0;
				color: rgb(97, 35, 122);
			}
		}
		p:last-of-type {
			background-color: #7A956B;
			transform: rotate(180deg);
			font-weight: 900;
			position: relative;
			&::before{
				content:'p:last-of-type';
				position: absolute;
				bottom: 0;
				right: 0;
				color: rgb(95, 38, 141);
				transform: rotate(-180deg);
			}
		}
		div:last-of-type {
			background-color: #77608d;
			position: relative;
			&::before{
				content:'div:last-of-type';
				position: absolute;
				bottom: 0;
				left: 50%;
				color: rgb(50, 223, 58);
			}
		}
	}

	&__item {
		color: #fff;
		font-size: 30px;
		line-height: math.div(45, 30);
		padding: 20px;
		text-align: center;
		border-radius: 5px;
		background-color: #794f45;
	}
}
