@use "sass:math";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

// Подключить если есть локальные файлы шрифтов
@import "fonts";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Poppins";
$fontSize: 20px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #6F7278; // Цвет шрифта по умолчанию

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
}

[class*="__container"] {
	max-width: 1300px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 15px;
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
//@import "home";

// ============================================================================================================================================================================================================================================================================================================================================================================================
section {
	padding: 50px 0;
}

.page {
	margin: 100px 0 50px 0;
	&__align-decor {
	}
}
.align-decor {

	&__container {
	}

	&__title {
		margin-bottom: 40px;
	}

	&__body {
	}

	&__row {
		margin: 0 -15px;
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0 15px;
	}


	&__item {
		padding: 15px;
	}

	&__text {
		line-height: math.div(30, 20);
		& span {
			font-weight: 700;
			color: #772eff;
		}
	}

	&__text--first {
		text-align: right;
		line-height: math.div(40, 20);
		text-decoration: overline;
	}

	&__text--second {
		text-align: center;
		text-decoration: underline;
	}

	&__text--third {
		text-align: justify;
		text-decoration: line-through;
	}
}

//=================================================================================

.page {

	&__transform-shadow {
	}
}
.transform-shadow {
	font-family: 'Lato';
	&__container {
	}

	&__title {
		margin-bottom: 40px;
	}

	&__body {
	}

	&__row {
		margin: 0 -15px;
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0 15px;
	}

	&__item {
		padding: 15px;
	}

	&__text {
		line-height: math.div(30, 20);
		& span {
			color: #772eff;
			font-weight: 500;
		}
	}

	&__text--first {
		text-transform: uppercase;
		text-shadow: -1px 1px 7px #000;
		font-weight: 700;
		& span {
			font-style: italic;
		}
	}

	&__text--second {
		text-transform: lowercase;
		text-shadow: 2px -5px 3px #b9b4b4;
		& span {
			font-weight: 400;
			font-style: italic;
		}
	}

	&__text--third {
		text-transform: capitalize;
		text-shadow: 0px 3px 3px #acb1f8;
		font-style: italic;
		font-weight: 500;
		& span {
			font-weight: 700;
			font-style: normal;
		}
	}
}

//==========================================================================================
.page {

	&__other-styles {
	}
}
.other-styles {
	font-family: 'Taviraj';
	&__container {
	}

	&__title {
		margin-bottom: 40px;
	}

	&__body {
	}

	&__row {
		margin: 0 -15px;
		flex-wrap: wrap;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0 15px;
	}

	&__item {
		padding: 15px;
	}

	&__text {
		line-height: math.div(30, 20);
		& span {
			font-weight: 700;
			color: #772eff; 
		}
	}

	&__text--first {
		letter-spacing: 3px;
		word-spacing: 30px;
		& span {
			font-style: italic;
		}
	}

	&__text--second {
		letter-spacing: 1.5px;
		word-spacing: 10px;
		font-weight: 500;
		font-style: italic;
		& span {
			font-style: normal;
		}
	}

	&__text--third {
		letter-spacing: 0.5px;
		word-spacing: -10px;
		white-space: nowrap;
		font-weight: 700;
	}
}